.convoCard{

    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    gap:1rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position:relative;
    padding-right:2.5rem;
    overflow: hidden;
    max-height: 5rem;

    text-overflow: ellipsis;
    text-wrap: none;

    p{
        max-height: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    &:first-of-type{
        border-top: none !important;
    }

    .convoName{
        font-size: 1.2rem;
    }




    &[data-selected=true]{
        background-color: #FAFAFA;
        border-top: 1px solid #e2e5e5;
        border-bottom: 1px solid #e2e5e5;
        border-right: 1px solid #e2e5e5;;
        // border-radius: 5px;

    }
    &[data-selected=false]{
        background-color: #FFFFFF;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }


    .new-message-indicator{
        width: 0.8rem;
        height: 0.8rem;
        border-radius:50%;
        background-color: #fd0000;
        justify-self: flex-end;
        position:absolute;
        right:1rem;
    }

}