#conversationPanel{
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    // background-color: purple;
    resize: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    
    
    #text-window-container{
        z-index: 0;
        flex-grow: 2;
        overflow: hidden;
        position: relative;

        .scroll-btn-container{
            position: absolute;
            bottom: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            // backgr

            .scroll-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #F2F3F4;
        
                width: 2.5rem;
                height: 2.5rem;
                
                background-color: #EB404F;
                z-index: 10;
                bottom: 1rem;
                border-radius: 50%;
                cursor: pointer;
                color: white;
                transition: transform 0.15s ease, opacity 0.15s ease;
                
                &:hover{
                    transform: scale(1.1) ;
                    opacity: 0.9;
                }
                
                &:active{
                    transform: scale(0.95);
                }
        }
    }
        #text-window{
            // flex-grow: 2;
            height: 100%;
            overflow-y: scroll;
            // height: calc(100% - 37rem) !important;
            // max-height: calc(100% - 10rem) !important;
            // min-height:calc(100% - 37rem) !important;
            // background-color: red;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            overflow-x: hidden;
        }
    
    }

#message-panel-spacer{
    flex-grow: 2;
}

form{
    justify-self: flex-end;
}


.input-container{
    // height: ;
    margin-bottom: 0;
    justify-self: flex-end;
    position: relative;
    display: flex;


    
    
    // input{
    //     height: 2.8rem;
    //     padding-left: 1rem;
    // }

    textarea{
        flex-grow: 2;
        min-height: 2.8rem;
        max-height: 12rem;
        width: calc(100% - 6rem);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        white-space: pre-line;

      
        margin-bottom: 0;
        resize: none;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        border: 1px solid #D1D5DB;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        field-sizing: content;
        
     
    }
    
    button{
        // position: absolute;
        right: 0rem;        
        font-family: 'Inter', sans-serif;
        color: white;
        border: none;
        top:0rem;
        width: 6rem;
        align-self: stretch;
        
        padding: 0.4rem;
        font-size: 1.2rem;
        background-color: #EB404F;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 1rem;
        padding-right: 1rem;
        cursor: pointer;
            
            
        &:hover{
            opacity: 0.9;
            // transform: scale(1.1);
            
        }
            
        }
    }



    
}
    
    
    
    
    // .button-group button:hover:not(:disabled){
        //  transform: scale(1.1);
        //   opacity: 0.9;
// }

// .button-group button:active:not(:disabled){
//      transform: scale(0.95);
//      /* z-index: 5; */
// }
