#conversationPanel{
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    // background-color: purple;
    resize: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    #empty-convo-panel{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }


    .member-list{
        margin-top:1rem;
        display:flex;
        flex-direction:column;
        gap:1rem;
        overflow-y:auto;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    .image-selection-container{
        overflow-x:auto;
        display: flex;
        width: 100%;
        background-color: #f1f2f3;
        padding:0.5rem;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        height: fit-content;
        gap:0.5rem;

        &::-webkit-scrollbar{
            height: 4px;
            
        }

        &::-webkit-scrollbar-track{
            background-color: #f1f2f3;

        }

         &::-webkit-scrollbar-thumb{
            background-color: #EB404F;
            border-radius: 2px;

        }
    }

    .image-selection-preview{
        position: relative;
        
        .close-image-preview{
            position:absolute;
            top:-0.5rem;
            right: -0.5rem;
            color:#EB404F;
            z-index: 10;
            cursor:pointer;
        }

    }



    #convo-header{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        // background-color: #fcdee0;
        
        justify-content: space-between;
        border-bottom: 1px solid #D1D5DB;
        align-items: center;
        padding:1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.8rem;

        .toggle-sidebar-button{
            all:unset;
            cursor: pointer;
        }
        
    }

    
    
    #text-window-container{
        z-index: 0;
        flex-grow: 2;
        overflow: hidden;
        position: relative;
        padding-left: 0.5rem;
        padding-right:0.5rem;

        .scroll-btn-container{
            position: absolute;
            bottom: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            // backgr

            .scroll-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #F2F3F4;
        
                width: 2.5rem;
                height: 2.5rem;
                
                background-color: #EB404F;
                z-index: 10;
                bottom: 1rem;
                border-radius: 50%;
                cursor: pointer;
                color: white;
                transition: transform 0.15s ease, opacity 0.15s ease;
                
                &:hover{
                    transform: scale(1.1) ;
                    opacity: 0.9;
                }
                
                &:active{
                    transform: scale(0.95);
                }
        }
    }
        #text-window{
            // flex-grow: 2;
            height: 100%;
            overflow-y: scroll;
            // height: calc(100% - 37rem) !important;
            // max-height: calc(100% - 10rem) !important;
            // min-height:calc(100% - 37rem) !important;
            // background-color: red;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            overflow-x: hidden;





            &::-webkit-scrollbar {
            // background-color: #ffe9e9;
                // width: 5px;
                // padding-left: 20px;

                // transform: translateX(5px);
                display: none;

            }


            // &::-webkit-scrollbar-thumb {

            // background-color: #FA3F4D;
            // border-radius: 8px;
            // }

        }


        
    
    }


   .primary-button{
        background-color: #EB404F;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.15s ease, opacity 0.15s ease;

        &:hover{
            transform: scale(1.05);
            opacity: 0.9;
        }

        &:active{
            transform: scale(0.95);
        }

         &:disabled{
            opacity: 0.5;
            transform: none;
            cursor: unset;
        }
   } 

#message-panel-spacer{
    flex-grow: 2;
}

form{
    justify-self: flex-end;
}


.input-container{
    // height: ;
    margin-bottom: 0;
    margin-top:0;
    justify-self: flex-end;
    position: relative;
    display: flex;
   

    border-left: none;
    #add-button{
        all:unset;
        position: absolute;
        left:1rem;
        top:0.9rem;
        color:#EB404F;
        cursor:pointer;
        
    }

    
    
    // input{
    //     height: 2.8rem;
    //     padding-left: 1rem;
    // }

    textarea{
        flex-grow: 2;
        min-height: 2.8rem;
        max-height: 12rem;
        width: calc(100% - 6rem);
        padding-left: 2.8rem;
        padding-right: 1rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        white-space: pre-line;
        border-left: none;
        border-bottom: none;
        border-right: none;

      
        margin-bottom: 0;
        resize: none;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        border-top: 1px solid #D1D5DB;
        outline: none;
        field-sizing: content;
        
     
    }
    
    button{
        // position: absolute;
        right: 0rem;        
        font-family: 'Inter', sans-serif;
        color: white;
        border: none;
        top:0rem;
        width: 6rem;
        align-self: stretch;
        
        padding: 0.4rem;
        font-size: 1.2rem;
        background-color: #EB404F;
      
        padding-left: 1rem;
        padding-right: 1rem;
        cursor: pointer;
        border-top:1px solid #D1D5DB;
            
            
        &:hover{
            opacity: 0.9;
            // transform: scale(1.1);
            
        }
            
        }


    }




    
}



@media (min-width:  861px){
    .toggle-sidebar-button{
        display: none !important;
        background-color: red;
    }
}
    
    
    
    
    // .button-group button:hover:not(:disabled){
        //  transform: scale(1.1);
        //   opacity: 0.9;
// }

// .button-group button:active:not(:disabled){
//      transform: scale(0.95);
//      /* z-index: 5; */
// }
