
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, p{
    font-family: 'Inter', sans-serif;
}

body{
    min-width: 500px;
}