#manage-conversation-panel-page{

    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .input-container{
        margin: 0;
    }


    

    #search-results{
        flex-grow: 2;
    }


    #selected-users-container{
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;


        .selected-user-card{
            color: black;
            background-color: #FFECED;
            padding: 0.8rem;
            font-size: 0.5rem;
            border-radius: 5px;
            padding-right: 1.8rem;
            position: relative;

            .x{
                position: absolute;
                right: 0.5rem;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                width: 1rem;
                height: 0.6rem;
            }
    
        }
    }


    #search-results{
        display: flex;
        padding-right: 0.3rem;
        // padding-left: 0.5rem;
        flex-direction: column;
        gap: 1rem;
        overflow: scroll;

        &::-webkit-scrollbar{
            display: none;
        }

        button:not(.clear-search){
                background-color: #FA3F4D;
                color: white;
                padding: 0.5rem;
                font-size: 1rem;
                border-radius: 5px;
                border: none;
                cursor: pointer;

                transition: transform 0.15s ease, opacity 0.15s ease;
                width: 5rem;

                


                &:hover:not(:disabled){
                    transform: scale(1.1);
                    opacity: 0.9;
                }

                &:active:not(:disabled){
                    transform: scale(0.95);
                    /* z-index: 5; */
                }


                &.secondary{
                    background-color: white;
                    color: #FA3F4D;
                    border: 1px solid #FA3F4D;
                }
            } 
            
            
            .clear-search{


                all:unset;
                background: none;
                border:none;
                width: fit-content;
                height: fit-content;
                cursor: pointer;
                margin-top: 1rem;
                color: #c91d28;
                &:hover{
                    text-decoration: underline;
                }
                /* text-decoration: underline; */
            }

    }




    #confirm-conversation-container{
        justify-self: flex-end;
        display: flex;
        flex-direction: column;
        gap: 1rem;


        .buttons{
            display: flex;
            justify-content: flex-end;
            gap: 1rem;

            button{
                background-color: #FA3F4D;
                color: white;
                padding: 0.5rem;
                font-size: 1rem;
                border-radius: 5px;
                border: none;
                cursor: pointer;

                transition: transform 0.15s ease, opacity 0.15s ease;
                width: 5rem;

                


                &:hover:not(:disabled){
                    transform: scale(1.1);
                    opacity: 0.9;
                }

                &:active:not(:disabled){
                    transform: scale(0.95);
                    /* z-index: 5; */
                }


                &[disabled]{
                transform: none;
                opacity:0.5;
                cursor: default;
                
            }
            }         
            
            #cancel-create-convo{
                background-color: white;
                color: #484849;
                border: 1px solid #EAECEA;
            }
            


        }


        #initial-message-input{
            font-size: 1rem;
            border: 1px solid #D1D5DB;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 100%;
            resize: none;
            min-height: 2.8rem;
            max-height: 12rem;
            field-sizing: content;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
        }
    }

}
