#manage-friends-panel{
    position: relative;
    overflow: scroll;
    max-height: 100%;
    height: 100%;

    .input-container{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    

    input{
        margin-bottom: 0;
    }


    &::-webkit-scrollbar {
        display: none;
    }

    #manage-friends-header{
        background-color: white;
        top:0;
        position: sticky;
        width: 100%;
        z-index: 10;
        padding-bottom: 1rem;
    }



}