#manage-friends-panel{
    position: relative;
    overflow: scroll;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    #empty-friends-list{
        width: 100%;
        flex-grow: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        // justify-self: stretch;
    }

    .input-container{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    

    input{
        margin-bottom: 0;
    }


    &::-webkit-scrollbar {
        display: none;
    }

    #manage-friends-header{
        background-color: white;
        top:0;
        position: sticky;
        width: 100%;
        z-index: 10;
        padding-bottom: 1rem;
    }



}