.message{

    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 12px;
    // max-width: 50%;
    max-width: 80%;
    margin-top: auto;

    white-space: pre-wrap;
    
    
    &[data-isUsersPost=true]{
        color: white;
        background-color: #EC404E;
        align-self: flex-end;
    }

    &[data-isUsersPost=false]{
        color:black;
        background-color: #F2F3F4;
        align-self: flex-start;
    }

    word-wrap: break-word;




    




}


.image-message{
        padding: 0;
        background-color: none !important;

        img{
            border-radius: 12px;

        }


        &[data-isUsersPost=true]{
            align-self: flex-end;
        }

        &[data-isUsersPost=false]{
            align-self: flex-start;
        }
}


.userDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    
}


@media (max-width:430px) {
    .message{
        font-size: 0.8rem;
    }
    
}