header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding: 0.8rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid #e2e5e5;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
    font-size: 10rem;
}

header img{
    width: 8rem;
    height: auto;
}