@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid #e2e5e5;
    height:5rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
    font-size: 50rem !important;
}

nav a, nav p {
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
}


nav p{
    color: red;
}


header img{
    width: 10rem;
    height: auto;
}


.full_page_layout{
    height: 100dvh;
    max-height: 100dvh !important;
    display: flex;
    flex-direction: column;
}


.page_content{
    height: calc(100% - 5rem);
    width: 100dvw;
    overflow: hidden;
}


#logout-button, .navlink{
    cursor: pointer;
    position: relative;
}

.navlink:hover{
    text-decoration: none;
}


#logout-button:hover::after, .navlink:hover::after, .isActive::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fee2e2;
    left: 50%;
    top: 50%;
    padding: 0.5rem;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    border-radius: 5px;

}